<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/tienda_icono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tienda_icono_round"
        android:supportsRtl="true">
        <activity
            android:name=".SelecionarTipoActivity"
            android:exported="false"
            android:theme="@style/Theme.Myappcancheito.NoActionBar"/>
        <activity
            android:name=".postulante.LoginPostulanteActivity"
            android:exported="false"
            android:theme="@style/Theme.Myappcancheito"/>
        <activity
            android:name=".postulante.RegisterPostulanteActivity"
            android:exported="false"
            android:theme="@style/Theme.Myappcancheito"/>
        <activity
            android:name=".empleador.LoginEmpleadorActivity"
            android:exported="false"
            android:theme="@style/Theme.Myappcancheito" />
        <activity
            android:name=".empleador.RegisterEmpleadorActivity"
            android:exported="false"
            android:theme="@style/Theme.Myappcancheito" />
        <activity
            android:name=".empleador.EmpleadorActivity"
            android:exported="false"
            android:theme="@style/Theme.Myappcancheito.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Myappcancheito.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".postulante.MainActivityPostulante"
            android:exported="true"
            android:theme="@style/Theme.Myappcancheito.NoActionBar" />
    </application>

</manifest>